{% extends "common/base.html" %}

{% block title %}
<title>MovieToo | Payment</title>
{% endblock %}

{% block content %}

<h1>Payment Confirmation</h1>
<div class="ticket">
	<form method="POST" action="{% url 'payment_confirmation' %}">
		{% csrf_token %}
		<label for="movie">Movie:</label><br>
		<input id="movie" name="movie" value="{{ show.movie }}" readonly style="width:500px;"><br>
		<label for="theatre">Theatre:</label><br>
		<input id="theatre" name="theatre" value="{{ show.theatre }}" readonly style="width:500px;"><br>
		<label for="screen">Screen No:</label><br>
		<input id="screen" name="screen" value="{{ show.screen }}" readonly style="width:500px;"><br>
		<label for="showtime">Showtime:</label><br>
		<input id="showtime" name="showtime" value="{{ show.time }}" readonly style="width:500px;"><br>
		<label for="date">Date:</label><br>
		<input id="date" name="date" value="{{ show.date }}" readonly style="width:500px;"><br>
		<label for="selected_seat">Seats:</label><br>
		<input id="selected_seat" name="selected_seat" value="{{ seats }}" readonly style="width:500px;"><br>
		<label for="payment_type">Payment Type:</label><br>
		<input id="payment_type" name="payment_type" value="{{ payment_type }}" readonly style="width:500px;"><br>

		<h3>Booking Done!</h3>
		<h3>Please Collect Ticket from Counter!!</h3>
		<h3>Thanks You!!</h3>
	</form>
</div>

{% endblock %}